# Build
bin/
obj/

# VS Code
.vscode/

# User files
*.user
*.suo

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env

# EF migrations snapshot (opcional)
*.db

# Docker volumes (por las dudas)
postgres_data/